### Java ###
REST_Server/*.class

# BlueJ files
REST_Server/*.ctxt

# Mobile Tools for Java (J2ME)
REST_Server/.mtj.tmp/

# Package Files #
REST_Server/*.jar
REST_Server/*.war
REST_Server/*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
REST_Server/hs_err_pid*


### Gradle ###
REST_Server/.gradle
REST_Server/build/

# Ignore Gradle GUI config
REST_Server/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
REST_Server/!gradle-wrapper.jar

# Cache of project
REST_Server/.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# End of https://www.gitignore.io/api/java,gradle